<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.gemini.model.mapper.GeminiMapper">

    <select id="getPrompts" resultType="geminiDto">
        SELECT prompt_id, item, type, default_value
        FROM prompts
        ORDER BY prompt_id
    </select>

</mapper>
